<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.sky.spsb.client.TbStSpxxMapper">
  <resultMap id="BaseResultMap" type="org.sky.spsb.model.TbStSpxx">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="SPBH" jdbcType="VARCHAR" property="spbh" />
    <result column="SPMC" jdbcType="VARCHAR" property="spmc" />
    <result column="SPLJ" jdbcType="VARCHAR" property="splj" />
    <result column="CREATER" jdbcType="VARCHAR" property="creater" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, SPBH, SPMC, SPLJ, CREATER, CREATE_TIME
  </sql>
  <select id="selectByExample" parameterType="org.sky.spsb.model.TbStSpxxExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_st_spxx
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <include refid="MySqlPaginationSuffix" />
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_st_spxx
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tb_st_spxx
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="org.sky.spsb.model.TbStSpxxExample">
    delete from tb_st_spxx
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.sky.spsb.model.TbStSpxx">
    insert into tb_st_spxx (ID, SPBH, SPMC, 
      SPLJ, CREATER, CREATE_TIME
      )
    values (#{id,jdbcType=VARCHAR}, #{spbh,jdbcType=VARCHAR}, #{spmc,jdbcType=VARCHAR}, 
      #{splj,jdbcType=VARCHAR}, #{creater,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.sky.spsb.model.TbStSpxx">
    insert into tb_st_spxx
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="spbh != null">
        SPBH,
      </if>
      <if test="spmc != null">
        SPMC,
      </if>
      <if test="splj != null">
        SPLJ,
      </if>
      <if test="creater != null">
        CREATER,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="spbh != null">
        #{spbh,jdbcType=VARCHAR},
      </if>
      <if test="spmc != null">
        #{spmc,jdbcType=VARCHAR},
      </if>
      <if test="splj != null">
        #{splj,jdbcType=VARCHAR},
      </if>
      <if test="creater != null">
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.sky.spsb.model.TbStSpxxExample" resultType="java.lang.Long">
    select count(*) from tb_st_spxx
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tb_st_spxx
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.spbh != null">
        SPBH = #{record.spbh,jdbcType=VARCHAR},
      </if>
      <if test="record.spmc != null">
        SPMC = #{record.spmc,jdbcType=VARCHAR},
      </if>
      <if test="record.splj != null">
        SPLJ = #{record.splj,jdbcType=VARCHAR},
      </if>
      <if test="record.creater != null">
        CREATER = #{record.creater,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tb_st_spxx
    set ID = #{record.id,jdbcType=VARCHAR},
      SPBH = #{record.spbh,jdbcType=VARCHAR},
      SPMC = #{record.spmc,jdbcType=VARCHAR},
      SPLJ = #{record.splj,jdbcType=VARCHAR},
      CREATER = #{record.creater,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.sky.spsb.model.TbStSpxx">
    update tb_st_spxx
    <set>
      <if test="spbh != null">
        SPBH = #{spbh,jdbcType=VARCHAR},
      </if>
      <if test="spmc != null">
        SPMC = #{spmc,jdbcType=VARCHAR},
      </if>
      <if test="splj != null">
        SPLJ = #{splj,jdbcType=VARCHAR},
      </if>
      <if test="creater != null">
        CREATER = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.sky.spsb.model.TbStSpxx">
    update tb_st_spxx
    set SPBH = #{spbh,jdbcType=VARCHAR},
      SPMC = #{spmc,jdbcType=VARCHAR},
      SPLJ = #{splj,jdbcType=VARCHAR},
      CREATER = #{creater,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <sql id="MySqlPaginationSuffix">
    <if test="page != null">
      <![CDATA[ limit #{page.begin},#{page.rows} ]]>
    </if>
  </sql>
</mapper>