<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.sky.spsb.client.TbStSpTxMapper">
  <resultMap id="BaseResultMap" type="org.sky.spsb.model.TbStSpTx">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="SPBH" jdbcType="VARCHAR" property="spbh" />
    <result column="WJMC" jdbcType="VARCHAR" property="wjmc" />
    <result column="XSD" jdbcType="DECIMAL" property="xsd" />
    <result column="CREATER" jdbcType="VARCHAR" property="creater" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="ZT" jdbcType="VARCHAR" property="zt" />
    <result column="SPLJ" jdbcType="VARCHAR" property="splj" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="org.sky.spsb.model.TbStSpTxWithBLOBs">
    <result column="TXNR" jdbcType="LONGVARCHAR" property="txnr" />
    <result column="JT" jdbcType="LONGVARCHAR" property="jt" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, SPBH, WJMC, XSD, CREATER, CREATE_TIME, ZT,
    (SELECT SPLJ FROM TB_ST_SPXX SP WHERE SP.SPBH = TB_ST_SP_TX.SPBH) AS SPLJ
  </sql>
  <sql id="Blob_Column_List">
    TXNR, JT
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="org.sky.spsb.model.TbStSpTxExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tb_st_sp_tx
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="org.sky.spsb.model.TbStSpTxExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_st_sp_tx
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <include refid="MySqlPaginationSuffix" />
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tb_st_sp_tx
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tb_st_sp_tx
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="org.sky.spsb.model.TbStSpTxExample">
    delete from tb_st_sp_tx
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.sky.spsb.model.TbStSpTxWithBLOBs">
    insert into tb_st_sp_tx (ID, SPBH, WJMC, 
      XSD, CREATER, CREATE_TIME, 
      ZT, TXNR, JT
      )
    values (#{id,jdbcType=VARCHAR}, #{spbh,jdbcType=VARCHAR}, #{wjmc,jdbcType=VARCHAR}, 
      #{xsd,jdbcType=DECIMAL}, #{creater,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{zt,jdbcType=VARCHAR}, #{txnr,jdbcType=LONGVARCHAR}, #{jt,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.sky.spsb.model.TbStSpTxWithBLOBs">
    insert into tb_st_sp_tx
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="spbh != null">
        SPBH,
      </if>
      <if test="wjmc != null">
        WJMC,
      </if>
      <if test="xsd != null">
        XSD,
      </if>
      <if test="creater != null">
        CREATER,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="zt != null">
        ZT,
      </if>
      <if test="txnr != null">
        TXNR,
      </if>
      <if test="jt != null">
        JT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="spbh != null">
        #{spbh,jdbcType=VARCHAR},
      </if>
      <if test="wjmc != null">
        #{wjmc,jdbcType=VARCHAR},
      </if>
      <if test="xsd != null">
        #{xsd,jdbcType=DECIMAL},
      </if>
      <if test="creater != null">
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="zt != null">
        #{zt,jdbcType=VARCHAR},
      </if>
      <if test="txnr != null">
        #{txnr,jdbcType=LONGVARCHAR},
      </if>
      <if test="jt != null">
        #{jt,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.sky.spsb.model.TbStSpTxExample" resultType="java.lang.Long">
    select count(*) from tb_st_sp_tx
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tb_st_sp_tx
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.spbh != null">
        SPBH = #{record.spbh,jdbcType=VARCHAR},
      </if>
      <if test="record.wjmc != null">
        WJMC = #{record.wjmc,jdbcType=VARCHAR},
      </if>
      <if test="record.xsd != null">
        XSD = #{record.xsd,jdbcType=DECIMAL},
      </if>
      <if test="record.creater != null">
        CREATER = #{record.creater,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.zt != null">
        ZT = #{record.zt,jdbcType=VARCHAR},
      </if>
      <if test="record.txnr != null">
        TXNR = #{record.txnr,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.jt != null">
        JT = #{record.jt,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update tb_st_sp_tx
    set ID = #{record.id,jdbcType=VARCHAR},
      SPBH = #{record.spbh,jdbcType=VARCHAR},
      WJMC = #{record.wjmc,jdbcType=VARCHAR},
      XSD = #{record.xsd,jdbcType=DECIMAL},
      CREATER = #{record.creater,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      ZT = #{record.zt,jdbcType=VARCHAR},
      TXNR = #{record.txnr,jdbcType=LONGVARCHAR},
      JT = #{record.jt,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tb_st_sp_tx
    set ID = #{record.id,jdbcType=VARCHAR},
      SPBH = #{record.spbh,jdbcType=VARCHAR},
      WJMC = #{record.wjmc,jdbcType=VARCHAR},
      XSD = #{record.xsd,jdbcType=DECIMAL},
      CREATER = #{record.creater,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      ZT = #{record.zt,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.sky.spsb.model.TbStSpTxWithBLOBs">
    update tb_st_sp_tx
    <set>
      <if test="spbh != null">
        SPBH = #{spbh,jdbcType=VARCHAR},
      </if>
      <if test="wjmc != null">
        WJMC = #{wjmc,jdbcType=VARCHAR},
      </if>
      <if test="xsd != null">
        XSD = #{xsd,jdbcType=DECIMAL},
      </if>
      <if test="creater != null">
        CREATER = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="zt != null">
        ZT = #{zt,jdbcType=VARCHAR},
      </if>
      <if test="txnr != null">
        TXNR = #{txnr,jdbcType=LONGVARCHAR},
      </if>
      <if test="jt != null">
        JT = #{jt,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="org.sky.spsb.model.TbStSpTxWithBLOBs">
    update tb_st_sp_tx
    set SPBH = #{spbh,jdbcType=VARCHAR},
      WJMC = #{wjmc,jdbcType=VARCHAR},
      XSD = #{xsd,jdbcType=DECIMAL},
      CREATER = #{creater,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      ZT = #{zt,jdbcType=VARCHAR},
      TXNR = #{txnr,jdbcType=LONGVARCHAR},
      JT = #{jt,jdbcType=LONGVARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.sky.spsb.model.TbStSpTx">
    update tb_st_sp_tx
    set SPBH = #{spbh,jdbcType=VARCHAR},
      WJMC = #{wjmc,jdbcType=VARCHAR},
      XSD = #{xsd,jdbcType=DECIMAL},
      CREATER = #{creater,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      ZT = #{zt,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <sql id="MySqlPaginationSuffix">
    <if test="page != null">
      <![CDATA[ limit #{page.begin},#{page.rows} ]]>
    </if>
  </sql>
</mapper>