<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.sky.ywbl.client.TbStAjdjxxMapper">
  <resultMap id="BaseResultMap" type="org.sky.ywbl.model.TbStAjdjxx">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="AJBH" jdbcType="VARCHAR" property="ajbh" />
    <result column="BJSJ" jdbcType="TIMESTAMP" property="bjsj" />
    <result column="SSFJ" jdbcType="VARCHAR" property="ssfj" />
    <result column="BJFS" jdbcType="VARCHAR" property="bjfs" />
    <result column="BJLB" jdbcType="VARCHAR" property="bjlb" />
    <result column="BJLX" jdbcType="VARCHAR" property="bjlx" />
    <result column="BJXL" jdbcType="VARCHAR" property="bjxl" />
    <result column="SFDZ" jdbcType="VARCHAR" property="sfdz" />
    <result column="LHLB" jdbcType="VARCHAR" property="lhlb" />
    <result column="BJR" jdbcType="VARCHAR" property="bjr" />
    <result column="BJRXB" jdbcType="VARCHAR" property="bjrxb" />
    <result column="BJRNL" jdbcType="INTEGER" property="bjrnl" />
    <result column="BJRDH" jdbcType="VARCHAR" property="bjrdh" />
    <result column="BJRZJHM" jdbcType="VARCHAR" property="bjrzjhm" />
    <result column="SZR" jdbcType="VARCHAR" property="szr" />
    <result column="SZRXB" jdbcType="VARCHAR" property="szrxb" />
    <result column="SZRNL" jdbcType="INTEGER" property="szrnl" />
    <result column="SZRDH" jdbcType="VARCHAR" property="szrdh" />
    <result column="SZRZJHM" jdbcType="VARCHAR" property="szrzjhm" />
    <result column="SJXQ" jdbcType="VARCHAR" property="sjxq" />
    <result column="XQDW" jdbcType="VARCHAR" property="xqdw" />
    <result column="XZQH" jdbcType="VARCHAR" property="xzqh" />
    <result column="XZQH_NAME" jdbcType="VARCHAR" property="xzqhName" />
    <result column="CJR" jdbcType="VARCHAR" property="cjr" />
    <result column="DCSJ" jdbcType="TIMESTAMP" property="dcsj" />
    <result column="DCQK" jdbcType="VARCHAR" property="dcqk" />
    <result column="FKNR" jdbcType="VARCHAR" property="fknr" />
    <result column="CLJG" jdbcType="VARCHAR" property="cljg" />
    <result column="SJZT" jdbcType="VARCHAR" property="sjzt" />
    <result column="JWQ" jdbcType="VARCHAR" property="jwq" />
    <result column="AFDZLB" jdbcType="VARCHAR" property="afdzlb" />
    <result column="SJFSDZ" jdbcType="VARCHAR" property="sjfsdz" />
    <result column="DQDW" jdbcType="VARCHAR" property="dqdw" />
    <result column="DQDW_NAME" jdbcType="VARCHAR" property="dqdwName" />
    <result column="AJLY" jdbcType="VARCHAR" property="ajly" />
    <result column="DJR" jdbcType="VARCHAR" property="djr" />
    <result column="DJR_NAME" jdbcType="VARCHAR" property="djrName" />
    <result column="DJDW" jdbcType="VARCHAR" property="djdw" />
    <result column="DJDW_NAME" jdbcType="VARCHAR" property="djdwName" />
    <result column="DJSJ" jdbcType="TIMESTAMP" property="djsj" />
    <result column="XSBH" jdbcType="VARCHAR" property="xsbh" />
    <result column="CREATER" jdbcType="VARCHAR" property="creater" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATER" jdbcType="VARCHAR" property="updater" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="BZ" jdbcType="VARCHAR" property="bz" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, AJBH, BJSJ, SSFJ, BJFS, BJLB, BJLX, BJXL, SFDZ, LHLB, BJR, BJRXB, BJRNL, BJRDH, 
    BJRZJHM, SZR, SZRXB, SZRNL, SZRDH, SZRZJHM, SJXQ, XQDW, XZQH, CJR, DCSJ, DCQK, FKNR, 
    CLJG, SJZT, JWQ, AFDZLB, SJFSDZ, DQDW, AJLY, DJR, DJDW, DJSJ, XSBH, CREATER, CREATE_TIME, 
    UPDATER, UPDATE_TIME, BZ,
    (SELECT NAME FROM SYS_USER U WHERE U.CODE=DJR) AS DJR_NAME,
    (SELECT NAME FROM SYS_ORGAN O WHERE O.CODE=DQDW) AS DQDW_NAME,
    (SELECT NAME FROM SYS_ORGAN O WHERE O.CODE=DJDW) AS DJDW_NAME,
    (SELECT NAME FROM SYS_AREA A WHERE A.CODE = XZQH) AS XZQH_NAME
  </sql>
  <select id="selectByExample" parameterType="org.sky.ywbl.model.TbStAjdjxxExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_st_ajdjxx
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <include refid="MySqlPaginationSuffix" />
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_st_ajdjxx
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectByAjbh" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_st_ajdjxx
    where ajbh = #{ajbh,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tb_st_ajdjxx
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="org.sky.ywbl.model.TbStAjdjxxExample">
    delete from tb_st_ajdjxx
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.sky.ywbl.model.TbStAjdjxx">
    insert into tb_st_ajdjxx (ID, AJBH, BJSJ, 
      SSFJ, BJFS, BJLB, BJLX, 
      BJXL, SFDZ, LHLB, BJR, 
      BJRXB, BJRNL, BJRDH, 
      BJRZJHM, SZR, SZRXB, 
      SZRNL, SZRDH, SZRZJHM, 
      SJXQ, XQDW, XZQH, CJR, 
      DCSJ, DCQK, FKNR, 
      CLJG, SJZT, JWQ, AFDZLB, 
      SJFSDZ, DQDW, AJLY, 
      DJR, DJDW, DJSJ, 
      XSBH, CREATER, CREATE_TIME, 
      UPDATER, UPDATE_TIME, BZ
      )
    values (#{id,jdbcType=VARCHAR}, #{ajbh,jdbcType=VARCHAR}, #{bjsj,jdbcType=TIMESTAMP}, 
      #{ssfj,jdbcType=VARCHAR}, #{bjfs,jdbcType=VARCHAR}, #{bjlb,jdbcType=VARCHAR}, #{bjlx,jdbcType=VARCHAR}, 
      #{bjxl,jdbcType=VARCHAR}, #{sfdz,jdbcType=VARCHAR}, #{lhlb,jdbcType=VARCHAR}, #{bjr,jdbcType=VARCHAR}, 
      #{bjrxb,jdbcType=VARCHAR}, #{bjrnl,jdbcType=INTEGER}, #{bjrdh,jdbcType=VARCHAR}, 
      #{bjrzjhm,jdbcType=VARCHAR}, #{szr,jdbcType=VARCHAR}, #{szrxb,jdbcType=VARCHAR}, 
      #{szrnl,jdbcType=INTEGER}, #{szrdh,jdbcType=VARCHAR}, #{szrzjhm,jdbcType=VARCHAR}, 
      #{sjxq,jdbcType=VARCHAR}, #{xqdw,jdbcType=VARCHAR}, #{xzqh,jdbcType=VARCHAR}, #{cjr,jdbcType=VARCHAR}, 
      #{dcsj,jdbcType=TIMESTAMP}, #{dcqk,jdbcType=VARCHAR}, #{fknr,jdbcType=VARCHAR}, 
      #{cljg,jdbcType=VARCHAR}, #{sjzt,jdbcType=VARCHAR}, #{jwq,jdbcType=VARCHAR}, #{afdzlb,jdbcType=VARCHAR}, 
      #{sjfsdz,jdbcType=VARCHAR}, #{dqdw,jdbcType=VARCHAR}, #{ajly,jdbcType=VARCHAR}, 
      #{djr,jdbcType=VARCHAR}, #{djdw,jdbcType=VARCHAR}, #{djsj,jdbcType=TIMESTAMP}, 
      #{xsbh,jdbcType=VARCHAR}, #{creater,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updater,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{bz,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.sky.ywbl.model.TbStAjdjxx">
    insert into tb_st_ajdjxx
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="ajbh != null">
        AJBH,
      </if>
      <if test="bjsj != null">
        BJSJ,
      </if>
      <if test="ssfj != null">
        SSFJ,
      </if>
      <if test="bjfs != null">
        BJFS,
      </if>
      <if test="bjlb != null">
        BJLB,
      </if>
      <if test="bjlx != null">
        BJLX,
      </if>
      <if test="bjxl != null">
        BJXL,
      </if>
      <if test="sfdz != null">
        SFDZ,
      </if>
      <if test="lhlb != null">
        LHLB,
      </if>
      <if test="bjr != null">
        BJR,
      </if>
      <if test="bjrxb != null">
        BJRXB,
      </if>
      <if test="bjrnl != null">
        BJRNL,
      </if>
      <if test="bjrdh != null">
        BJRDH,
      </if>
      <if test="bjrzjhm != null">
        BJRZJHM,
      </if>
      <if test="szr != null">
        SZR,
      </if>
      <if test="szrxb != null">
        SZRXB,
      </if>
      <if test="szrnl != null">
        SZRNL,
      </if>
      <if test="szrdh != null">
        SZRDH,
      </if>
      <if test="szrzjhm != null">
        SZRZJHM,
      </if>
      <if test="sjxq != null">
        SJXQ,
      </if>
      <if test="xqdw != null">
        XQDW,
      </if>
      <if test="xzqh != null">
        XZQH,
      </if>
      <if test="cjr != null">
        CJR,
      </if>
      <if test="dcsj != null">
        DCSJ,
      </if>
      <if test="dcqk != null">
        DCQK,
      </if>
      <if test="fknr != null">
        FKNR,
      </if>
      <if test="cljg != null">
        CLJG,
      </if>
      <if test="sjzt != null">
        SJZT,
      </if>
      <if test="jwq != null">
        JWQ,
      </if>
      <if test="afdzlb != null">
        AFDZLB,
      </if>
      <if test="sjfsdz != null">
        SJFSDZ,
      </if>
      <if test="dqdw != null">
        DQDW,
      </if>
      <if test="ajly != null">
        AJLY,
      </if>
      <if test="djr != null">
        DJR,
      </if>
      <if test="djdw != null">
        DJDW,
      </if>
      <if test="djsj != null">
        DJSJ,
      </if>
      <if test="xsbh != null">
        XSBH,
      </if>
      <if test="creater != null">
        CREATER,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="updater != null">
        UPDATER,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
      <if test="bz != null">
        BZ,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="ajbh != null">
        #{ajbh,jdbcType=VARCHAR},
      </if>
      <if test="bjsj != null">
        #{bjsj,jdbcType=TIMESTAMP},
      </if>
      <if test="ssfj != null">
        #{ssfj,jdbcType=VARCHAR},
      </if>
      <if test="bjfs != null">
        #{bjfs,jdbcType=VARCHAR},
      </if>
      <if test="bjlb != null">
        #{bjlb,jdbcType=VARCHAR},
      </if>
      <if test="bjlx != null">
        #{bjlx,jdbcType=VARCHAR},
      </if>
      <if test="bjxl != null">
        #{bjxl,jdbcType=VARCHAR},
      </if>
      <if test="sfdz != null">
        #{sfdz,jdbcType=VARCHAR},
      </if>
      <if test="lhlb != null">
        #{lhlb,jdbcType=VARCHAR},
      </if>
      <if test="bjr != null">
        #{bjr,jdbcType=VARCHAR},
      </if>
      <if test="bjrxb != null">
        #{bjrxb,jdbcType=VARCHAR},
      </if>
      <if test="bjrnl != null">
        #{bjrnl,jdbcType=INTEGER},
      </if>
      <if test="bjrdh != null">
        #{bjrdh,jdbcType=VARCHAR},
      </if>
      <if test="bjrzjhm != null">
        #{bjrzjhm,jdbcType=VARCHAR},
      </if>
      <if test="szr != null">
        #{szr,jdbcType=VARCHAR},
      </if>
      <if test="szrxb != null">
        #{szrxb,jdbcType=VARCHAR},
      </if>
      <if test="szrnl != null">
        #{szrnl,jdbcType=INTEGER},
      </if>
      <if test="szrdh != null">
        #{szrdh,jdbcType=VARCHAR},
      </if>
      <if test="szrzjhm != null">
        #{szrzjhm,jdbcType=VARCHAR},
      </if>
      <if test="sjxq != null">
        #{sjxq,jdbcType=VARCHAR},
      </if>
      <if test="xqdw != null">
        #{xqdw,jdbcType=VARCHAR},
      </if>
      <if test="xzqh != null">
        #{xzqh,jdbcType=VARCHAR},
      </if>
      <if test="cjr != null">
        #{cjr,jdbcType=VARCHAR},
      </if>
      <if test="dcsj != null">
        #{dcsj,jdbcType=TIMESTAMP},
      </if>
      <if test="dcqk != null">
        #{dcqk,jdbcType=VARCHAR},
      </if>
      <if test="fknr != null">
        #{fknr,jdbcType=VARCHAR},
      </if>
      <if test="cljg != null">
        #{cljg,jdbcType=VARCHAR},
      </if>
      <if test="sjzt != null">
        #{sjzt,jdbcType=VARCHAR},
      </if>
      <if test="jwq != null">
        #{jwq,jdbcType=VARCHAR},
      </if>
      <if test="afdzlb != null">
        #{afdzlb,jdbcType=VARCHAR},
      </if>
      <if test="sjfsdz != null">
        #{sjfsdz,jdbcType=VARCHAR},
      </if>
      <if test="dqdw != null">
        #{dqdw,jdbcType=VARCHAR},
      </if>
      <if test="ajly != null">
        #{ajly,jdbcType=VARCHAR},
      </if>
      <if test="djr != null">
        #{djr,jdbcType=VARCHAR},
      </if>
      <if test="djdw != null">
        #{djdw,jdbcType=VARCHAR},
      </if>
      <if test="djsj != null">
        #{djsj,jdbcType=TIMESTAMP},
      </if>
      <if test="xsbh != null">
        #{xsbh,jdbcType=VARCHAR},
      </if>
      <if test="creater != null">
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null">
        #{updater,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="bz != null">
        #{bz,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.sky.ywbl.model.TbStAjdjxxExample" resultType="java.lang.Long">
    select count(*) from tb_st_ajdjxx
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tb_st_ajdjxx
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.ajbh != null">
        AJBH = #{record.ajbh,jdbcType=VARCHAR},
      </if>
      <if test="record.bjsj != null">
        BJSJ = #{record.bjsj,jdbcType=TIMESTAMP},
      </if>
      <if test="record.ssfj != null">
        SSFJ = #{record.ssfj,jdbcType=VARCHAR},
      </if>
      <if test="record.bjfs != null">
        BJFS = #{record.bjfs,jdbcType=VARCHAR},
      </if>
      <if test="record.bjlb != null">
        BJLB = #{record.bjlb,jdbcType=VARCHAR},
      </if>
      <if test="record.bjlx != null">
        BJLX = #{record.bjlx,jdbcType=VARCHAR},
      </if>
      <if test="record.bjxl != null">
        BJXL = #{record.bjxl,jdbcType=VARCHAR},
      </if>
      <if test="record.sfdz != null">
        SFDZ = #{record.sfdz,jdbcType=VARCHAR},
      </if>
      <if test="record.lhlb != null">
        LHLB = #{record.lhlb,jdbcType=VARCHAR},
      </if>
      <if test="record.bjr != null">
        BJR = #{record.bjr,jdbcType=VARCHAR},
      </if>
      <if test="record.bjrxb != null">
        BJRXB = #{record.bjrxb,jdbcType=VARCHAR},
      </if>
      <if test="record.bjrnl != null">
        BJRNL = #{record.bjrnl,jdbcType=INTEGER},
      </if>
      <if test="record.bjrdh != null">
        BJRDH = #{record.bjrdh,jdbcType=VARCHAR},
      </if>
      <if test="record.bjrzjhm != null">
        BJRZJHM = #{record.bjrzjhm,jdbcType=VARCHAR},
      </if>
      <if test="record.szr != null">
        SZR = #{record.szr,jdbcType=VARCHAR},
      </if>
      <if test="record.szrxb != null">
        SZRXB = #{record.szrxb,jdbcType=VARCHAR},
      </if>
      <if test="record.szrnl != null">
        SZRNL = #{record.szrnl,jdbcType=INTEGER},
      </if>
      <if test="record.szrdh != null">
        SZRDH = #{record.szrdh,jdbcType=VARCHAR},
      </if>
      <if test="record.szrzjhm != null">
        SZRZJHM = #{record.szrzjhm,jdbcType=VARCHAR},
      </if>
      <if test="record.sjxq != null">
        SJXQ = #{record.sjxq,jdbcType=VARCHAR},
      </if>
      <if test="record.xqdw != null">
        XQDW = #{record.xqdw,jdbcType=VARCHAR},
      </if>
      <if test="record.xzqh != null">
        XZQH = #{record.xzqh,jdbcType=VARCHAR},
      </if>
      <if test="record.cjr != null">
        CJR = #{record.cjr,jdbcType=VARCHAR},
      </if>
      <if test="record.dcsj != null">
        DCSJ = #{record.dcsj,jdbcType=TIMESTAMP},
      </if>
      <if test="record.dcqk != null">
        DCQK = #{record.dcqk,jdbcType=VARCHAR},
      </if>
      <if test="record.fknr != null">
        FKNR = #{record.fknr,jdbcType=VARCHAR},
      </if>
      <if test="record.cljg != null">
        CLJG = #{record.cljg,jdbcType=VARCHAR},
      </if>
      <if test="record.sjzt != null">
        SJZT = #{record.sjzt,jdbcType=VARCHAR},
      </if>
      <if test="record.jwq != null">
        JWQ = #{record.jwq,jdbcType=VARCHAR},
      </if>
      <if test="record.afdzlb != null">
        AFDZLB = #{record.afdzlb,jdbcType=VARCHAR},
      </if>
      <if test="record.sjfsdz != null">
        SJFSDZ = #{record.sjfsdz,jdbcType=VARCHAR},
      </if>
      <if test="record.dqdw != null">
        DQDW = #{record.dqdw,jdbcType=VARCHAR},
      </if>
      <if test="record.ajly != null">
        AJLY = #{record.ajly,jdbcType=VARCHAR},
      </if>
      <if test="record.djr != null">
        DJR = #{record.djr,jdbcType=VARCHAR},
      </if>
      <if test="record.djdw != null">
        DJDW = #{record.djdw,jdbcType=VARCHAR},
      </if>
      <if test="record.djsj != null">
        DJSJ = #{record.djsj,jdbcType=TIMESTAMP},
      </if>
      <if test="record.xsbh != null">
        XSBH = #{record.xsbh,jdbcType=VARCHAR},
      </if>
      <if test="record.creater != null">
        CREATER = #{record.creater,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updater != null">
        UPDATER = #{record.updater,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null">
        UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.bz != null">
        BZ = #{record.bz,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tb_st_ajdjxx
    set ID = #{record.id,jdbcType=VARCHAR},
      AJBH = #{record.ajbh,jdbcType=VARCHAR},
      BJSJ = #{record.bjsj,jdbcType=TIMESTAMP},
      SSFJ = #{record.ssfj,jdbcType=VARCHAR},
      BJFS = #{record.bjfs,jdbcType=VARCHAR},
      BJLB = #{record.bjlb,jdbcType=VARCHAR},
      BJLX = #{record.bjlx,jdbcType=VARCHAR},
      BJXL = #{record.bjxl,jdbcType=VARCHAR},
      SFDZ = #{record.sfdz,jdbcType=VARCHAR},
      LHLB = #{record.lhlb,jdbcType=VARCHAR},
      BJR = #{record.bjr,jdbcType=VARCHAR},
      BJRXB = #{record.bjrxb,jdbcType=VARCHAR},
      BJRNL = #{record.bjrnl,jdbcType=INTEGER},
      BJRDH = #{record.bjrdh,jdbcType=VARCHAR},
      BJRZJHM = #{record.bjrzjhm,jdbcType=VARCHAR},
      SZR = #{record.szr,jdbcType=VARCHAR},
      SZRXB = #{record.szrxb,jdbcType=VARCHAR},
      SZRNL = #{record.szrnl,jdbcType=INTEGER},
      SZRDH = #{record.szrdh,jdbcType=VARCHAR},
      SZRZJHM = #{record.szrzjhm,jdbcType=VARCHAR},
      SJXQ = #{record.sjxq,jdbcType=VARCHAR},
      XQDW = #{record.xqdw,jdbcType=VARCHAR},
      XZQH = #{record.xzqh,jdbcType=VARCHAR},
      CJR = #{record.cjr,jdbcType=VARCHAR},
      DCSJ = #{record.dcsj,jdbcType=TIMESTAMP},
      DCQK = #{record.dcqk,jdbcType=VARCHAR},
      FKNR = #{record.fknr,jdbcType=VARCHAR},
      CLJG = #{record.cljg,jdbcType=VARCHAR},
      SJZT = #{record.sjzt,jdbcType=VARCHAR},
      JWQ = #{record.jwq,jdbcType=VARCHAR},
      AFDZLB = #{record.afdzlb,jdbcType=VARCHAR},
      SJFSDZ = #{record.sjfsdz,jdbcType=VARCHAR},
      DQDW = #{record.dqdw,jdbcType=VARCHAR},
      AJLY = #{record.ajly,jdbcType=VARCHAR},
      DJR = #{record.djr,jdbcType=VARCHAR},
      DJDW = #{record.djdw,jdbcType=VARCHAR},
      DJSJ = #{record.djsj,jdbcType=TIMESTAMP},
      XSBH = #{record.xsbh,jdbcType=VARCHAR},
      CREATER = #{record.creater,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      UPDATER = #{record.updater,jdbcType=VARCHAR},
      UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      BZ = #{record.bz,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.sky.ywbl.model.TbStAjdjxx">
    update tb_st_ajdjxx
    <set>
      <if test="ajbh != null">
        AJBH = #{ajbh,jdbcType=VARCHAR},
      </if>
      <if test="bjsj != null">
        BJSJ = #{bjsj,jdbcType=TIMESTAMP},
      </if>
      <if test="ssfj != null">
        SSFJ = #{ssfj,jdbcType=VARCHAR},
      </if>
      <if test="bjfs != null">
        BJFS = #{bjfs,jdbcType=VARCHAR},
      </if>
      <if test="bjlb != null">
        BJLB = #{bjlb,jdbcType=VARCHAR},
      </if>
      <if test="bjlx != null">
        BJLX = #{bjlx,jdbcType=VARCHAR},
      </if>
      <if test="bjxl != null">
        BJXL = #{bjxl,jdbcType=VARCHAR},
      </if>
      <if test="sfdz != null">
        SFDZ = #{sfdz,jdbcType=VARCHAR},
      </if>
      <if test="lhlb != null">
        LHLB = #{lhlb,jdbcType=VARCHAR},
      </if>
      <if test="bjr != null">
        BJR = #{bjr,jdbcType=VARCHAR},
      </if>
      <if test="bjrxb != null">
        BJRXB = #{bjrxb,jdbcType=VARCHAR},
      </if>
      <if test="bjrnl != null">
        BJRNL = #{bjrnl,jdbcType=INTEGER},
      </if>
      <if test="bjrdh != null">
        BJRDH = #{bjrdh,jdbcType=VARCHAR},
      </if>
      <if test="bjrzjhm != null">
        BJRZJHM = #{bjrzjhm,jdbcType=VARCHAR},
      </if>
      <if test="szr != null">
        SZR = #{szr,jdbcType=VARCHAR},
      </if>
      <if test="szrxb != null">
        SZRXB = #{szrxb,jdbcType=VARCHAR},
      </if>
      <if test="szrnl != null">
        SZRNL = #{szrnl,jdbcType=INTEGER},
      </if>
      <if test="szrdh != null">
        SZRDH = #{szrdh,jdbcType=VARCHAR},
      </if>
      <if test="szrzjhm != null">
        SZRZJHM = #{szrzjhm,jdbcType=VARCHAR},
      </if>
      <if test="sjxq != null">
        SJXQ = #{sjxq,jdbcType=VARCHAR},
      </if>
      <if test="xqdw != null">
        XQDW = #{xqdw,jdbcType=VARCHAR},
      </if>
      <if test="xzqh != null">
        XZQH = #{xzqh,jdbcType=VARCHAR},
      </if>
      <if test="cjr != null">
        CJR = #{cjr,jdbcType=VARCHAR},
      </if>
      <if test="dcsj != null">
        DCSJ = #{dcsj,jdbcType=TIMESTAMP},
      </if>
      <if test="dcqk != null">
        DCQK = #{dcqk,jdbcType=VARCHAR},
      </if>
      <if test="fknr != null">
        FKNR = #{fknr,jdbcType=VARCHAR},
      </if>
      <if test="cljg != null">
        CLJG = #{cljg,jdbcType=VARCHAR},
      </if>
      <if test="sjzt != null">
        SJZT = #{sjzt,jdbcType=VARCHAR},
      </if>
      <if test="jwq != null">
        JWQ = #{jwq,jdbcType=VARCHAR},
      </if>
      <if test="afdzlb != null">
        AFDZLB = #{afdzlb,jdbcType=VARCHAR},
      </if>
      <if test="sjfsdz != null">
        SJFSDZ = #{sjfsdz,jdbcType=VARCHAR},
      </if>
      <if test="dqdw != null">
        DQDW = #{dqdw,jdbcType=VARCHAR},
      </if>
      <if test="ajly != null">
        AJLY = #{ajly,jdbcType=VARCHAR},
      </if>
      <if test="djr != null">
        DJR = #{djr,jdbcType=VARCHAR},
      </if>
      <if test="djdw != null">
        DJDW = #{djdw,jdbcType=VARCHAR},
      </if>
      <if test="djsj != null">
        DJSJ = #{djsj,jdbcType=TIMESTAMP},
      </if>
      <if test="xsbh != null">
        XSBH = #{xsbh,jdbcType=VARCHAR},
      </if>
      <if test="creater != null">
        CREATER = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null">
        UPDATER = #{updater,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="bz != null">
        BZ = #{bz,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.sky.ywbl.model.TbStAjdjxx">
    update tb_st_ajdjxx
    set AJBH = #{ajbh,jdbcType=VARCHAR},
      BJSJ = #{bjsj,jdbcType=TIMESTAMP},
      SSFJ = #{ssfj,jdbcType=VARCHAR},
      BJFS = #{bjfs,jdbcType=VARCHAR},
      BJLB = #{bjlb,jdbcType=VARCHAR},
      BJLX = #{bjlx,jdbcType=VARCHAR},
      BJXL = #{bjxl,jdbcType=VARCHAR},
      SFDZ = #{sfdz,jdbcType=VARCHAR},
      LHLB = #{lhlb,jdbcType=VARCHAR},
      BJR = #{bjr,jdbcType=VARCHAR},
      BJRXB = #{bjrxb,jdbcType=VARCHAR},
      BJRNL = #{bjrnl,jdbcType=INTEGER},
      BJRDH = #{bjrdh,jdbcType=VARCHAR},
      BJRZJHM = #{bjrzjhm,jdbcType=VARCHAR},
      SZR = #{szr,jdbcType=VARCHAR},
      SZRXB = #{szrxb,jdbcType=VARCHAR},
      SZRNL = #{szrnl,jdbcType=INTEGER},
      SZRDH = #{szrdh,jdbcType=VARCHAR},
      SZRZJHM = #{szrzjhm,jdbcType=VARCHAR},
      SJXQ = #{sjxq,jdbcType=VARCHAR},
      XQDW = #{xqdw,jdbcType=VARCHAR},
      XZQH = #{xzqh,jdbcType=VARCHAR},
      CJR = #{cjr,jdbcType=VARCHAR},
      DCSJ = #{dcsj,jdbcType=TIMESTAMP},
      DCQK = #{dcqk,jdbcType=VARCHAR},
      FKNR = #{fknr,jdbcType=VARCHAR},
      CLJG = #{cljg,jdbcType=VARCHAR},
      SJZT = #{sjzt,jdbcType=VARCHAR},
      JWQ = #{jwq,jdbcType=VARCHAR},
      AFDZLB = #{afdzlb,jdbcType=VARCHAR},
      SJFSDZ = #{sjfsdz,jdbcType=VARCHAR},
      DQDW = #{dqdw,jdbcType=VARCHAR},
      AJLY = #{ajly,jdbcType=VARCHAR},
      DJR = #{djr,jdbcType=VARCHAR},
      DJDW = #{djdw,jdbcType=VARCHAR},
      DJSJ = #{djsj,jdbcType=TIMESTAMP},
      XSBH = #{xsbh,jdbcType=VARCHAR},
      CREATER = #{creater,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATER = #{updater,jdbcType=VARCHAR},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      BZ = #{bz,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <sql id="MySqlPaginationSuffix">
    <if test="page != null">
      <![CDATA[ limit #{page.begin},#{page.rows} ]]>
    </if>
  </sql>
  <select id="selectAjArea" resultType="map">
  	SELECT 
 		XZQH AS CODE,
 		(SELECT NAME FROM SYS_AREA A WHERE A.CODE=XZQH) AS NAME,
		COUNT(1) AS NUM
 	FROM TB_ST_AJDJXX
	GROUP BY XZQH
  </select>
</mapper>