<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.sky.hdjl.client.TbStHdjlJsMapper">
  <resultMap id="BaseResultMap" type="org.sky.hdjl.model.TbStHdjlJs">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="FS_ID" jdbcType="VARCHAR" property="fsId" />
    <result column="JSR" jdbcType="VARCHAR" property="jsr" />
    <result column="JSSJ" jdbcType="TIMESTAMP" property="jssj" />
    <result column="ZT" jdbcType="CHAR" property="zt" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, FS_ID, JSR, JSSJ, ZT
  </sql>
  <select id="selectByExample" parameterType="org.sky.hdjl.model.TbStHdjlJsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_st_hdjl_js
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <include refid="MySqlPaginationSuffix" />
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_st_hdjl_js
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tb_st_hdjl_js
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="org.sky.hdjl.model.TbStHdjlJsExample">
    delete from tb_st_hdjl_js
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.sky.hdjl.model.TbStHdjlJs">
    insert into tb_st_hdjl_js (ID, FS_ID, JSR, 
      JSSJ, ZT)
    values (#{id,jdbcType=VARCHAR}, #{fsId,jdbcType=VARCHAR}, #{jsr,jdbcType=VARCHAR}, 
      #{jssj,jdbcType=TIMESTAMP}, #{zt,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.sky.hdjl.model.TbStHdjlJs">
    insert into tb_st_hdjl_js
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="fsId != null">
        FS_ID,
      </if>
      <if test="jsr != null">
        JSR,
      </if>
      <if test="jssj != null">
        JSSJ,
      </if>
      <if test="zt != null">
        ZT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="fsId != null">
        #{fsId,jdbcType=VARCHAR},
      </if>
      <if test="jsr != null">
        #{jsr,jdbcType=VARCHAR},
      </if>
      <if test="jssj != null">
        #{jssj,jdbcType=TIMESTAMP},
      </if>
      <if test="zt != null">
        #{zt,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.sky.hdjl.model.TbStHdjlJsExample" resultType="java.lang.Long">
    select count(*) from tb_st_hdjl_js
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tb_st_hdjl_js
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.fsId != null">
        FS_ID = #{record.fsId,jdbcType=VARCHAR},
      </if>
      <if test="record.jsr != null">
        JSR = #{record.jsr,jdbcType=VARCHAR},
      </if>
      <if test="record.jssj != null">
        JSSJ = #{record.jssj,jdbcType=TIMESTAMP},
      </if>
      <if test="record.zt != null">
        ZT = #{record.zt,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tb_st_hdjl_js
    set ID = #{record.id,jdbcType=VARCHAR},
      FS_ID = #{record.fsId,jdbcType=VARCHAR},
      JSR = #{record.jsr,jdbcType=VARCHAR},
      JSSJ = #{record.jssj,jdbcType=TIMESTAMP},
      ZT = #{record.zt,jdbcType=CHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.sky.hdjl.model.TbStHdjlJs">
    update tb_st_hdjl_js
    <set>
      <if test="fsId != null">
        FS_ID = #{fsId,jdbcType=VARCHAR},
      </if>
      <if test="jsr != null">
        JSR = #{jsr,jdbcType=VARCHAR},
      </if>
      <if test="jssj != null">
        JSSJ = #{jssj,jdbcType=TIMESTAMP},
      </if>
      <if test="zt != null">
        ZT = #{zt,jdbcType=CHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.sky.hdjl.model.TbStHdjlJs">
    update tb_st_hdjl_js
    set FS_ID = #{fsId,jdbcType=VARCHAR},
      JSR = #{jsr,jdbcType=VARCHAR},
      JSSJ = #{jssj,jdbcType=TIMESTAMP},
      ZT = #{zt,jdbcType=CHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <sql id="MySqlPaginationSuffix">
    <if test="page != null">
      <![CDATA[ limit #{page.begin},#{page.rows} ]]>
    </if>
  </sql>
  <select id="loadReceiverMsgCountByUser" resultType="map">
  	SELECT COUNT(1) AS COUNT,
		   DATE_FORMAT(MAX(FS.FSSJ),'%m-%d %H:%i:%S') as LASTTIME,
		   FS.FSR,
		   (SELECT NAME FROM SYS_USER U WHERE U.CODE=FS.FSR) AS FSRNAME
  	  FROM TB_ST_HDJL_JS JS
  	  LEFT JOIN TB_ST_HDJL_FS FS
  	  ON JS.FS_ID = FS.ID
  	  WHERE JS.ZT='0'
  	    AND JS.JSR=#{useCode,jdbcType=VARCHAR}
  	  GROUP BY FS.FSR
  </select>
</mapper>