<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.sky.tjfx.client.TjfxMapper" >
	<!-- 以下两个<cache>标签二选一,第一个可以输出日志,第二个不输出日志
	<cache type="org.mybatis.caches.ehcache.LoggingEhcache"/> -->    
	<!-- <cache type="org.mybatis.caches.ehcache.EhcacheCache"/> --> 
	
	<select id="selectAfl" parameterType="map" resultType="map">
		SELECT COUNT(1) AS NUM ,
			   XZQH AS CODE,
			   (SELECT NAME FROM SYS_AREA A WHERE A.CODE=XZQH) AS NAME
		FROM TB_ST_AJDJXX AJ
		WHERE 1=1
		<if test="filter.djsjBegin != null and filter.djsjBegin != '' ">
		<![CDATA[
			AND DATE_FORMAT(AJ.DJSJ,'%Y-%m-%d')>=#{filter.djsjBegin,jdbcType=VARCHAR}
		]]>
		</if>
		<if test="filter.djsjEnd != null and filter.djsjEnd != '' ">
		<![CDATA[
			AND DATE_FORMAT(AJ.DJSJ,'%Y-%m-%d')<=#{filter.djsjEnd,jdbcType=VARCHAR}
		]]>
		</if>
		GROUP BY AJ.XZQH
	</select>
	<select id="selectGzl" parameterType="map" resultType="map">
		SELECT 
			DQDW AS CODE,
			(SELECT NAME FROM SYS_ORGAN SO WHERE SO.CODE=DQDW) AS NAME,
			COUNT(1) AS NUM
		FROM (
			SELECT 
				AJBH,
				DQDW
			FROM TB_ST_AJLZXX
			WHERE 1=1
			<if test="filter.djsjBegin != null and filter.djsjBegin != '' ">
			<![CDATA[
				AND DATE_FORMAT(LZSJ,'%Y-%m-%d')>=#{filter.djsjBegin,jdbcType=VARCHAR}
			]]>
			</if>
			<if test="filter.djsjEnd != null and filter.djsjEnd != '' ">
			<![CDATA[
				AND DATE_FORMAT(LZSJ,'%Y-%m-%d')<=#{filter.djsjEnd,jdbcType=VARCHAR}
			]]>
			</if>
			GROUP BY AJBH,DQDW
		) GZL GROUP BY DQDW
	</select>
	<select id="selectSzdd" parameterType="map" resultType="map">
			SELECT 
			COUNT(1) AS NUM,
			(SELECT SA.NAME FROM SYS_AREA SA WHERE T.SZDD LIKE CONCAT('%',SA.NAME,'%') AND SA.PAR_CODE ='100000' LIMIT 0,1) AS NAME
			FROM TB_ST_SJZQ T
			WHERE 1=1
			<if test="filter.szsjBegin != null and filter.szsjBegin != '' ">
			<![CDATA[
				AND T.SZSJ>=#{filter.szsjBegin,jdbcType=VARCHAR}
			]]>
			</if>
			<if test="filter.szsjEnd != null and filter.szsjEnd != '' ">
			<![CDATA[
				AND T.SZSJ<=#{filter.szsjEnd,jdbcType=VARCHAR}
			]]>
			</if>
			GROUP BY (SELECT SA.NAME FROM SYS_AREA SA WHERE T.SZDD LIKE CONCAT('%',SA.NAME,'%') LIMIT 0,1)
			ORDER BY COUNT(1) DESC
	</select>
	<select id="selectWzbk" parameterType="map" resultType="map">
		SELECT 
		SUBSTR(TT.BH,2,12) AS CODE,
		(SELECT NAME FROM SYS_ORGAN SO WHERE SO.CODE=SUBSTR(TT.BH,2,12)) AS NAME,
		COUNT(1) AS BKNUM ,
		SUM(TT.BZ) AS BZNUM
		FROM(
			SELECT 
			T.BH,
			(SELECT COUNT(1) FROM TB_ST_BKCX CX WHERE CX.BKBH=T.BH) AS BZ
			FROM TB_ST_XXBK T
			WHERE 1=1
			<if test="filter.djsjBegin != null and filter.djsjBegin != '' ">
			<![CDATA[
				AND DATE_FORMAT(CREATE_TIME,'%Y-%m-%d')>=#{filter.djsjBegin,jdbcType=VARCHAR}
			]]>
			</if>
			<if test="filter.djsjEnd != null and filter.djsjEnd != '' ">
			<![CDATA[
				AND DATE_FORMAT(CREATE_TIME,'%Y-%m-%d')<=#{filter.djsjEnd,jdbcType=VARCHAR}
			]]>
			</if>
		) TT GROUP BY SUBSTR(TT.BH,2,12)
	</select>
	<select id="selectTxbk" parameterType="map" resultType="map">
		SELECT 
		SUBSTR(TT.TXBH,2,12) AS CODE,
		(SELECT NAME FROM SYS_ORGAN SO WHERE SO.CODE=SUBSTR(TT.TXBH,2,12)) AS NAME,
		COUNT(1) AS BKNUM ,
		SUM(TT.BZ) AS BZNUM
		FROM(
		SELECT 
		T.TXBH,
		(SELECT COUNT(1) FROM TB_ST_TXBKJG JG WHERE JG.TXBH=T.TXBH AND JG.STATE='01') AS BZ
		FROM TB_ST_TXBK T
		WHERE 1=1
			<if test="filter.djsjBegin != null and filter.djsjBegin != '' ">
			<![CDATA[
				AND DATE_FORMAT(CREATE_TIME,'%Y-%m-%d')>=#{filter.djsjBegin,jdbcType=VARCHAR}
			]]>
			</if>
			<if test="filter.djsjEnd != null and filter.djsjEnd != '' ">
			<![CDATA[
				AND DATE_FORMAT(CREATE_TIME,'%Y-%m-%d')<=#{filter.djsjEnd,jdbcType=VARCHAR}
			]]>
			</if>
		) TT GROUP BY SUBSTR(TT.TXBH,2,12);
	</select>
	<select id="selectSpbk" parameterType="map" resultType="map">
		SELECT 
		SUBSTR(TT.SPBH,2,12) AS CODE,
		(SELECT NAME FROM SYS_ORGAN SO WHERE SO.CODE=SUBSTR(TT.SPBH,2,12)) AS NAME,
		COUNT(1) AS BKNUM ,
		SUM(TT.BZ) AS BZNUM
		FROM(
		SELECT 
		T.SPBH,
		(SELECT COUNT(1) FROM TB_ST_SP_TX TX WHERE TX.SPBH=T.SPBH AND TX.ZT='2') AS BZ
		FROM TB_ST_SPXX T
		WHERE 1=1
			<if test="filter.djsjBegin != null and filter.djsjBegin != '' ">
			<![CDATA[
				AND DATE_FORMAT(CREATE_TIME,'%Y-%m-%d')>=#{filter.djsjBegin,jdbcType=VARCHAR}
			]]>
			</if>
			<if test="filter.djsjEnd != null and filter.djsjEnd != '' ">
			<![CDATA[
				AND DATE_FORMAT(CREATE_TIME,'%Y-%m-%d')<=#{filter.djsjEnd,jdbcType=VARCHAR}
			]]>
			</if>
		) TT GROUP BY SUBSTR(TT.SPBH,2,12);
	</select>
</mapper>